body{
    background-color: #ffc0cb;
}

#txtBox{
    position:absolute;
    top:40%;
    left:10%;
    right: 10%;
    padding: 10px 10px 10px 10px;
    border:3px solid #ef8395;
    border-radius: 35px;
    text-align: center;
}

#moon1{
    position:absolute;
    top:-25%;
    left: 55%;
}

#moon2{
    position:absolute;
    top:70%;
    right: 50%;
}

#next{
    border-radius: 25px;
    margin-top: 10px;

}

#pic{
    position:absolute;
    top:50%;
    left:50%;
}

#text{
    position:absolute;
    top:30%;
    left:38%;
}

#letterI{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#letter{
    width:300px;
    height:200px;
    background-color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#newM{
    position:absolute;
    top:120%;
    left:50%;
    transform:translate(-50%,-50%);
}

button{
    cursor: pointer;
}


/*style for the open letter that i cannot figure out for the life of me*/
/* #oLetter{
    width: 300px;
    height: 300px;
    background: red;
    clip-path: polygon(30% 150%, 50% 0%, 100% 100%);
} */

/* carte */


/* chess */
#icon2{
    position: absolute;
    top:80%;
    left:10%;
}

/* coffee */
#icon3{
    position: absolute;
    top:10%;
    left:70%;
}

/* kira */
#icon4{
    position: absolute;
    top:10%;
    left:10%;
}

/* bloom */
#icon5{
    position: absolute;
    top:80%;
    left:60%;
}

/* wine */
#icon6{
    position: absolute;
    top:67%;
    left:40%;
}

/* coffee */
#icon7{
    position: absolute;
    top:47%;
    left:0%;
}

/* kira */
#icon8{
    position: absolute;
    top:57%;
    left:80%;
}

/* wine */
#icon9{
    position: absolute;
    top:0%;
    left:40%;
}

#letterT{
    overflow: hidden;
    z-index: -1;
    position: relative;
}


#heart {
    width: 100px;
    height: 90px;
    position:absolute;
    top:35%;
    left:35%;
}
  
#heart::before, #heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 42px;
    height: 70px;
    border-radius: 50px 50px 0 0;
    background: red;
}
  
#heart::before {
    left: 40px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
  
#heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

#heart:hover{
    cursor: pointer;
}


@media screen and (max-width: 480px){
    #pic{
        top:65%;
        left:50%;
    }
} 